
    body {
        background-color: red;
    } 

    div {
        background-color: darkgray;
        padding: 10px;
        /* margin: auto; */
        margin-top: 10px;
        /* text-align: center; */
        /* width: 400px; */
        /* height: 100px; */
        border-radius: 10px;

    }

    p {
        font-size: 13px;
        font-family: Verdana;
        color: white;
        margin-top: 10px;
    }

    h1 {
        font-size: 40px;
        font-family: Verdana;
        color: black;
        /* margin-bottom: 40px; */
    }

    h2 {
        font-size: 18px;
        font-family: Verdana;
        color: black;
        margin-top: 10px;
        /* margin-bottom: 40px; */
    }

    /*ANIMAATIO ESIMERKKIÄ*/
    /* @keyframes color_change {
        0% {background-color: white;}
        50% {background-color: red;}
        100% {background-color: black;}
       }

    div {
        width: 100px;
        height: 100px;
        background-color: white;
        border: 1px solid black;
        animation-name: color_change;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    } */

    /*img {
        width: 100%;
    } */
       
    
